.receipt-container{
    width: 300px;
    margin-right: 10mm;
    font-size: 10px;
}
.receipt-header{
    margin-top: 10px;
}
.receipt-body{
margin-top: 20px;
}
.width20Per{
    width: 10%;
}
.width30Per{
    width: 30%;
}
.width60Per{
    width: 60%;
}
.margin-top-20{
    margin-top: 30px;
}
.margin-top-minus-20{
    margin-top: -20px;
}
.receipt-header .displayBlock{
    display: block;
    margin: 10px;
}