.products-label {
    background-color: black;
    position: absolute;
    font-size: 14px;
    color: white;
    padding: 12px;
}

.img-product {
    height:120px;
}

.text-white {
    color:white !important;
}

.white-bg {
    background-color:white;
}

.padding {
    padding:40px;
}

.action-btn {
  margin: 1px !important;
  padding: 2px 7px;
}

.minBlock {
  min-height: 465px !important;
}

.table thead th {
  border-color: transparent;
}

.pos-sale-item {
  width: 300px;
  height: 150px;
  margin-bottom: 20px;
}
.pos-sale-img {
  display: block;
  max-width:150px;
  max-height:150px;
  width: auto;
  height: auto;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
}

.tableButtonContainer p-button {
  margin: 5px;
  cursor: pointer;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}

.ActiveTable {
  border: 5px solid #ff7f50;
}

.tableButtonContainer .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  display: inline-block;
  margin-right: 25px;
  height: 210px;
  cursor: pointer;
}

.tableButtonContainer .card input{  
  width: 140px;
  text-align: center;
}

.tableButtonContainer .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tableButtonContainer .container {
  padding: 2px 16px;
}
