.content-body {
    padding: 0 !important;
    margin-bottom: 100px;
    background-image: url('../../../../assets/img/app-background.jpg');
}
.content-body .container .component{
    background-image: url('../../../../assets/img/app-background.jpg');
}
.space{
    margin: 5px;
    width: 120px;
}